@use '../mixins/breakpoints' as *;

.large-cards {
  position: relative;

  .card {
    align-items: center;

    background-color: hsl(var(--clr-card-bg));
    border-radius: 5px;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    position: relative;

    &:hover {
      background-color: hsl(var(--clr-card-bg-hover));
    }

    &.facebook {
      border-top: 3px solid hsl(var(--clr-facebook));
    }

    &.twitter {
      border-top: 3px solid hsl(var(--clr-twitter));
    }

    &.instagram {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 111;

        background-image: linear-gradient(
          225deg,
          #df4896 0%,
          #ee877e 50.91%,
          #fdc366 100%
        );

        height: 3px;
        width: 100%;
      }
    }

    &.youtube {
      border-top: 3px solid hsl(var(--clr-youtube));
    }

    &__top {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .card__user {
        a::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }

    .card__followers {
      font-weight: 400;
      letter-spacing: 5px;
      text-align: center;
      text-transform: uppercase;

      span[data-num-followers] {
        color: hsl(var(--clr-text-primary));
        display: block;
        font-size: 3.5rem;
        font-weight: 700;
        letter-spacing: 0;
      }
    }

    .card__daily-stat.decrease {
      color: hsl(var(--clr-bright-red));

      &::before {
        content: '';
        background-image: url('../assets/images/icon-down.svg');
        background-repeat: no-repeat;
        display: inline-block;
        height: 6px;
        width: 8px;
      }
    }

    .card__daily-stat.increase {
      color: hsl(var(--clr-lime-green));

      &::before {
        content: '';
        background-image: url('../assets/images/icon-up.svg');
        background-repeat: no-repeat;
        display: inline-block;
        height: 6px;
        width: 8px;
      }
    }
  }
}
